html, body{
    height: 100%;
    font-family: sans-serif;
}
body{
    margin: 0;
}

header{
    border-bottom: 1px solid #1e4f1f;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1e4f1f;
}

header ul{
    display: inline-block;
}

header ul li{
    list-style-type: none;
}

header ul a{
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.5em 1em;
    display: inline-block;
}

header ul a:hover{
    background-color: rgba(77, 226, 134, 0.568);
}

.flex{
    display: flex;
}

main{
    margin: 10px;
}